<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path %></li>

        <% if current_user %>
          <li><%= link_to "Friends", user_path(current_user) %></li>
          <li><%= link_to "My Locations", user_locations_path(current_user) %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user && frnd_req_count = current_user.friend_requests_sender.count %>
          <% if frnd_req_count > 0 %> 
            <li class="friend-requests">
              <span class="fa fa-user-plus">
                <%= link_to frnd_req_count, 
                show_friend_requests_user_path(current_user), data: { remote_popup: true, title: "Friend Requests", modal_class: "fr-modal" }, class: "friend-requests__count", title: "Friend Requests" %>
              </span>
            </li>
          <% end %>
        <% end %>
        <% if current_user %>
          <li><%= form_tag(search_path, method: :get, class: "form-inline search-form") do %>
            <div class="search-input">
              <%= text_field_tag(:query, params[:query], placeholder: "Search users", class: "input-value") %>
            </div>
            <% end %>
          </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <% if current_user %>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>